<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-sm-10">
                            <h2>A list of users</h2>
                        </div>
                        <div class="col-sm-2 pull-right">
                            <a ng-if="isAllowed('create-user')" ui-sref="index.usersCreate" class="btn btn-success pull-right" type="button">
                                <i class="fa fa-plus"></i>&nbsp;&nbsp;
                                <span class="bold">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    
                    <div class="dataTables_info">
                        
                        <div class="row">
                            <div class="col-sm-6 col-xs-12 col-md-6">
                                <form class="form-horizontal" role="form" name="usersList.form" novalidate>
                                    <div class="row">
                                        <div class="col-sm-9 col-xs-12">
                                            <label>Search by id or name</label>
                                            <input type="text" placeholder="Find all" class="form-control" name="name"
                                                   limit-max-length="20"
                                                   ng-change="usersList.watchComplexfield()"
                                                   ng-model="usersList.complexFieldForSearch">
                                        </div>
                                        <div class="col-sm-3 col-xs-12">
                                            <button ng-click="usersList.filter()" type="submit" class="btn btn-w-m btn-primary margin-for-label">Find</button>
                                        </div>  
                                    </div>
                                </form>
                            </div>
                            
                            <div class="col-sm-4 col-xs-12 pull-right">
                                <label>Filter by role</label>
                                <select class="form-control m-b" name="role"
                                        ng-required="true"
                                        ng-change="usersList.filter()"
                                        ng-model="usersList.filters.role_id">
                                    <option value="null">All</option>
                                    <option ng-repeat="role in usersList.userRoles" value="{{ role.id }}">{{ role.display_name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">

                        <table ng-if="usersList.members != null && usersList.members.length != 0" class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr role="row">
                                    <th ng-click="usersList.sortBy('personal_id');">User id</th>
                                    <th ng-click="usersList.sortBy('name');">Name</th>
                                    <th ng-click="usersList.sortBy('mobile_phone');">Phone</th>
                                    <th ng-click="usersList.sortBy('email');">Email</th>
                                    <th ng-click="usersList.sortBy('role_label');">Role</th>
                                    <th ng-click="usersList.sortBy('working_status');">Active status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="member in usersList.members">
                                    <td>{{ member.personal_id }}</td>
                                    <td>{{ member.name }}</td>
                                    <td>{{ member.mobile_phone }}</td>
                                    <td>{{ member.email }}</td>
                                    <td>{{ member.role_label }}</td>
                                    <td class="text-center">
                                        <span class="label label-info" ng-show="member.working_status == 1">Active</span>
                                        <span class="label" ng-show="member.working_status == 0">Inactive</span>
                                    </td>
                                    <td>
                                        <button ui-sref="index.usersEdit({id: member.id})" type="button" class="btn btn-sm btn-warning">Edit</button>
                                        <delete-user ng-if="isAllowed('delete-user')" user-id="{{ member.id }}">Delete</delete-user>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="usersList.members.length > 10">
                                <tr>
                                    <th>User id</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Active status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                        
                        <h3 ng-if="usersList.members != null && usersList.members.length == 0">Nothing found</h3>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>