<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-6">
            <h2 class="font-bold">Welcome to  SW Transport INC.</h2>

            <p>
                Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
            </p>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </p>

            <p>
                When an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>

            <p>
                <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
            </p>

        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <form class="m-t" role="form" name="user.form" novalidate>
                    <div class="form-group" ng-class="{'has-error': (user.form.$submitted  && user.form.identifier.$error.required) || user.loginErrorLog.identifier}">
                        <input type="text" class="form-control" placeholder="User id" 
                               name="identifier"
                               ng-change="user.loginErrorLog.identifier = null"
                               ng-model="user.identifier"
                               ng-required="true">
                        
                        <label ng-show="user.form.$submitted && user.form.identifier.$error.required" class="error">This field is required.</label>
                        <label ng-show="user.loginErrorLog.identifier" class="error">{{ user.loginErrorLog.identifier }}</label>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (user.form.$submitted && user.form.password.$error.required) || user.loginErrorLog.password}">
                        <input type="password" class="form-control" placeholder="Password" 
                               name="password"
                               ng-change="user.loginErrorLog.password = null"
                               ng-model="user.password"
                               ng-required="true">
                        
                        <label ng-show="user.form.$submitted && user.form.password.$error.required" class="error">This field is required.</label>
                        <label ng-show="user.loginErrorLog.password" class="error">{{ user.loginErrorLog.password }}</label>
                        <label ng-show="user.loginErrorLog.message" class="error">{{ user.loginErrorLog.message }}</label>
                    </div>
                    <button type="submit" ng-click="user.login()" class="btn btn-primary block full-width m-b">Login</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            SW Transport INC.
        </div>
        <div class="col-md-6 text-right">
            <small>© 2014-2015</small>
        </div>
    </div>
</div>